/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .game-pane {
        min-height: 50vh;
        max-height: 50vh;
        height: 50vh;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .game-pane {
        min-height: 50vh;
        max-height: 50vh;
        height: 50vh;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    .game-pane {
        min-height: 50vh;
        max-height: 50vh;
        height: 50vh;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
    .game-pane {
        min-height: 100vh;
        max-height: 100vh;
        height: 100vh;
    }
}